@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SuperMarketManagement.Application.Consts
@using SuperMarketManagement.Application.Utilities.Extensions.Date
@model SuperMarketManagement.Application.DTOs.User.AdminInfoDto
@{
    ViewData["Title"] = "اطلاعات مدیر" + " " + Model.UserName;
}


<div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>مشخصات مدیر</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>گزارشات مدیر
                        </h2>
                        <partial name="Partials/_PanelToolBox"/>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <img class="img-responsive avatar-view" src="@DefaultPath.DefaultUserImage" alt="Avatar @Model.UserName" loading="lazy">
                                </div>
                            </div>
                            <h3>@Model.UserName</h3>
                            <ul class="list-unstyled user_data">
                                <li> شناسه:
                                    @Model.ManagerId
                                </li>
                                <li> شروع کار از:
                                    @Model.CreateDate.ToShamsi()
                                </li>
                                <li> روز های کاری:
                                    @Model.AllWorkDays
                                </li>
                                <li> تایم کاری امروز:
                                    @Model.TodayWorkTimeMinutes.ToWorkTimeFormat()
                                </li>
                            </ul>

                            <a asp-controller="Manager" asp-action="Edit" asp-route-adminId="@Model.ManagerId" class="btn btn-success">
                                <i class="fa fa-edit m-right-xs"></i>&nbsp;ویرایش پروفایل
                            </a>
                            <br>

                            <!-- start skills -->
                            <h4>مهارت ها</h4>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <p>برنامه کاربردی وب</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>طراحی وبسایت</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70" aria-valuenow="69" style="width: 70%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>اتوماسیون و تست</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30" aria-valuenow="29" style="width: 30%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>UI / UX</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                    </div>
                                </li>
                            </ul>
                            <!-- end of skills -->

                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="profile_title">
                                <div class="col-md-6">
                                    <h2>گزارش فعالیت مدیر</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>