@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SuperMarketManagement.Application.Utilities.Extensions.Date
@model List<SuperMarketManagement.Application.DTOs.User.AdminInfoDto>
@{
    ViewData["Title"] = "لیست مدیران";
}
@section Scripts
{
    <script>
        function DeleteManagerSwal(userId) {
            Swal.fire({
                text: "آیا مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteManager(userId);
                }
            });
        }

        function deleteManager(id) {
            var userUri = "/managers/del/" + id;

            fetch(userUri, {
                method: 'post'
            }).then(function(response) {
                if (response.status !== 200) {
                    location.reload();
                }

                response.json().then(function() {
                    location.reload();
                });
            }).catch(function(err) {
                console.log(`error: ${err}`);
            });
        };
    </script>
}
    <div class="title_left">
        <div class="col-md-8">
            <h2>
                @ViewData["Title"]
            </h2>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-block" asp-controller="Manager" asp-action="CreateManager">
                افزودن مدیر
            </a>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
        @if (Model.Any())
    {
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @ViewData["Title"]
                </h2>
                <partial name="Partials/_PanelToolBox" />
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>شناسه</th>
                            <th>نام</th>                            
                            <th>تاریخ ثبت نام</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var manager in Model)
                        {
                            <tr>
                                <th scope="row">@manager.ManagerId</th>
                                <td>@manager.UserName</td>
                                <td>@manager.CreateDate.ToShamsi()</td>
                                <td>
                                    <a class="btn btn-info"><i class="fa fa-info"></i></a>
                                    <a class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                    <a onclick="DeleteManagerSwal(@manager.ManagerId)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>مدیری ثبت نشده!</strong> 
        </div>
    }
</div>

